.Banner > img {
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 545px;
}
.getstarted {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #473c38;
  color: rgb(255, 242, 172);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.getstarted:hover {
  background-color: #5c4d48;
}
.heading {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #473c38;
  padding: 12px 24px;
 
}
Link{
  text-decoration: none;
}